@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .header {
        background: #ffdfed;
        padding: 100px 0;
    }

    .header_title {
        width: 100%;
    }

    .header_menu ul li a {
        font-size: 11px;
    }

    .page_header_menu ul li {
        margin: 0 5px;
    }

    .about {
        padding: 40px 0;
    }

    .about_row {
        flex-direction: column;
    }

    .about_col {
        width: 60%;
        margin: 0 auto;
    }

    .about_img {
        width: 100%;
    }

    .about_img img {
        max-width: 100%;
    }

    .about_col {
        width: 60%;
        margin: 0 auto;
    }

    .services_row {
        flex-direction: column;
    }

    .service_column {
        margin-bottom: 20px;
    }

    .service_img {
        margin-bottom: 20px;
    }

    .main_posts_row {
        flex-direction: column;
    }

    .main_posts_column {
        max-width: 300px;
    }

    .main_posts_img img {
        max-width: 300px;
        height: auto;
        padding: 0;
    }

    .main_posts_text p {
        padding: 0;
    }

    .main_contact_title h3 {
        font-size: 19px;
    }

    .footer_row {
        flex-direction: column;
    }

    .about_me_row {
        flex-direction: column;
        display: inline-block;
    }

    .about_me_col {
        max-width: 300px;
    }

    .about_me_img img {
        max-width: 300px;
    }

    .page_header_menu ul li a {
        font-size: 11px;
    }

    .post_image img {
        max-width: 300px;
        height: auto;
    }

    .about_me {
        padding: 100px 0;
    }
}