.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

a {
    word-break: break-word;
}

/* header */
.header {
    background-image: url("../images/lena_main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 230px 0;
}

.header_logo {
    margin-bottom: 47px;
    text-align: center;
}

.header_logo img {
    width: 100px;
}

.header_menu {
    margin-bottom: 100px;
}

.header_menu ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

.header_menu ul li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

.header_menu ul li a {
    color: #5f6e77;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.header_menu ul li a:hover {
    color: #4c5760;
    text-decoration: underline;
    transition: 0.5s;

}

.header_menu ul li a.active {
    color: #3a0d1d;
    text-decoration: none;
}

.header_inf {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

.header_title {
    text-align: center;
    margin-bottom: 10px;
    width: 50%;
}

.header_title h1 {
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    background: #aaaaaa;
}

.header_subtitle {
    text-align: right;
    margin-bottom: 101px;
    width: 50%;
}

.header_subtitle h2 {
    color: #9c6b6d;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    padding: 0 32px;
}

/* about me*/

.about {
    padding: 100px 0;
}

.about_row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
}

.about_col {
    width: 500px;
}

.about_title {
    text-align: center;
    padding: 0 0 23px;
    margin-top: 100px;
}

.about_title h3 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding-left: 15px;
    margin: 0;
}

.about_text {
    margin-bottom: 38px;
}

.about_text h4 {
    color: #787b80;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.about_img img {
    max-width: 500px;
}

.about_link {
    text-align: right;
}

.about_link a {
    color: #9c6b6d;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

/* services */
.services {
    padding: 100px 0;
    background: #ffe9ee87;
}

.service_main_title {
    text-align: center;
    margin-bottom: 60px;
}

.service_main_title h3 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding-left: 15px;
    margin: 0;
}

.services_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.service_column {
    width: 300px;
}

.service_img {
    margin-bottom: 50px;
}

.service_img img {
    width: 200px;
}

.service_title {
    margin-bottom: 25px;
}

.service_title h5 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.service_text p {
    color: #787b80;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
}

/* latest posts main */
.main_posts {
    padding: 100px 0;
}

.main_posts_date {
    text-align: left;
    padding-left: 50px;
}

.main_posts_date span {
    color: #aaaaaa;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-transform: lowercase;
    margin: 0;
}

.main_posts_main_title {
    text-align: center;
}

.blog_posts_main_title {
    text-align: center;
}

.blog_posts_main_title h1 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

.main_posts_main_title h3 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

.blog_posts_title {
    margin-top: 10px;
}

.blog_posts_title h2 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

.main_posts_sub_title {
    text-align: center;
    margin-bottom: 40px;
}

.main_posts_sub_title h4 {
    color: #787b80;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.main_posts_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.main_posts_column {
    width: 500px;
}

.main_posts_img {
    margin-bottom: 20px;
    height: 400px;
}

.main_posts_img img {
    max-height: 400px;
}

.main_posts_title {
    margin-bottom: 31px;
    text-align: center;
}

.main_posts_title h5 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.main_posts_text {
    margin-bottom: 34px;
    text-align: left;
}

.main_posts_text p {
    color: #787b80;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 30px;
}

.main_posts_link {
    text-align: right;
}

.main_posts_link a {
    color: #9c6b6d;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.main_posts_nav {
    text-align: center;
}

.main_posts_nav a {
    color: #cbabb9;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    font-weight: 700;
    padding-left: 10px;
}

.main_posts_nav a.disabled {
    color: #999;
    text-decoration: none;
}

.main_posts_nav a.active {
    color: #eab1e8;
    text-decoration: none;
}

/*main course*/

.main_course {
    padding: 100px 0;
    background: #ffdfed;
    text-align: center;

}

.main_course_title {
    margin-bottom: 50px;
}

.main_course_title h3 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

.main_course_link a {
    color: #9c6b6d;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* recommend */

.recommend {
    padding: 100px 0;
}

.recommend_main_title {
    text-align: center;
    margin-bottom: 50px;
}

.recommend_main_title h3 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

.recommend_img {
    text-align: center;
    margin-bottom: 20px;
}

.recommend_img img {
    width: 150px;
}

.recommend_author {
    text-align: center;
}

.recommend_author h4 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;

}

.recommend_position {
    text-align: center;
    margin-bottom: 40px;

}

.recommend_position h5 {
    color: #4c57609c;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding-top: 5px;
}

.recommend_text {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.recommend_text p {
    color: #787b80;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
}

/* contact me*/

.main_contact {
    background: #ffe9ee87;
    padding: 150px 0;
}

.main_contact_title {
    text-align: center;
}

.main_contact_title h3 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

/* footer */

.footer {
    padding: 50px 0;
    background: #384048;
}

.footer_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.footer_column {
    width: 280px;
}

.footer_text p {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #ffdfed;
}

.footer_socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer_fab {
    width: 40px;
    margin-left: 15px;
}

.footer_fab a {
    text-decoration: none;
    color: #ffdfed;
    font-size: 30px;
}

/* menu for not main page*/
.page_header {
    background: #ffdfed;
    padding: 50px 0;
}

.page_header_menu {
    margin-bottom: 20px;
}

.page_header_menu ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

.page_header_menu ul li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

.page_header_menu ul li a {
    color: #4c5760;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
}

.page_header_menu ul li a:hover {
    color: #4c5760;
    text-decoration: underline;
    transition: 0.5s;

}

.page_header_menu ul li a.active {
    color: #3a0d1d;
    text-decoration: none;
}

/* about me page*/

.about_me {
    padding: 100px 0;
}

.about_me_row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
}

.about_me_col {
    width: 500px;
}

.about_me_title {
    text-align: center;
    margin-top: 60px;
}

.about_me_title h1 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding-left: 15px;
    margin: 0;
}

.course_about_me_title h3 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding-left: 15px;
    margin: 0;
}

.about_me_text {
    margin-bottom: 38px;
}

.about_me_text h2 {
    color: #787b80;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.course_about_me_text h4 {
    color: #787b80;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.about_me_img img {
    width: 500px;
}

.about_me_link {
    text-align: right;
}

.about_me_link a {
    color: #9c6b6d;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.about_me_text ul {
    text-align: left;
}

.about_me_text ul li {
    color: #303233;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.about_me_text ul li i {
    color: #303233;
    font-size: 20px;
    margin-right: 15px;

}

.course_about_me_text ul {
    text-align: left;
}

.course_about_me_text ul li {
    color: #303233;
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
    font-weight: 300;
    line-height: 1.5;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.course_about_me_text ul li i {
    color: #303233;
    font-size: 17px;
    margin-right: 15px;

}

/* blog page*/

.blog_post_row {
    margin: 50px 0;
    align-items: baseline;
}

/* post page */

.post_row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.post_col {
    margin-top: 20px;
    width: 50%;
}

.post_header {
    margin-bottom: 40px;
}

.post_image {
    text-align: center;
}

.post_image img {
    max-height: 400px;
}

.post_title {
    margin: 50px 0;
    text-align: center;
    height: 50%;
}

.post_title h1 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding-left: 15px;
    margin: 0;
}

.post_text {
    margin: 0 0 100px;
}

.post_text p {
    color: #303233;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 15px;
}

.post_text ul li {
    color: #303233;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

/* course */
.course {
    padding: 100px 0;
    margin-bottom: 40px;
    background: #ffdfed;
    text-align: center;
}

.course_title h1 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding-left: 15px;
    margin: 0;
}

.course_sub_title h2 {
    color: #303233;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

.course_background {
    background: #ffe9ee;
}

/* get */

.get {
    padding: 100px 0;
    margin-bottom: 40px;
}

.get_row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.get_col {
    width: 50%;
}

.get_title {
    margin-bottom: 40px;
    text-align: center;
}

.get_title h3 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding-left: 15px;
    margin: 0;
}

.get_text ul li {
    color: #303233;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
}

/* apply */

.apply {
    padding: 100px 0;
    margin-bottom: 40px;
}

.apply_title {
    margin-bottom: 20px;
    text-align: center;
}

.apply_title h4 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding-left: 15px;
    margin: 0;
}

.apply_desc {
    text-align: center;
    margin-bottom: 40px;
}

.apply_desc p {
    color: #303233;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

.apply_form {
    position: relative;
    height: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.apply_form form {
    width: 500px;
    max-width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.apply_form form label {
    color: #303233;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

.apply_form form label input {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #8f8f8f;
    margin: 10px;
}

.apply_form form label textarea {
    height: 140px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #8f8f8f;
    margin: 10px;
}

.apply_form form button {
    width: 255px;
    height: 55px;
    background-color: #ffe9ee;
    color: #384048;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    border: 0;
    border-radius: 30px;
    margin: 0 auto;
}

/*telegram*/
.telegram {
    padding: 100px 0;
    margin-bottom: 40px;
}

.tg_row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.tg_col {
    width: 50%;
}

.telegram_posts_title {
    margin-bottom: 60px;
    text-align: center;
}

.telegram_posts_title h2 {
    color: #384048;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding-left: 15px;
    margin: 0;
}

.telegram_posts_item {
    margin: 0 0 30px;
    background: #cbcbcb78;
    border-radius: 10px;
    padding: 20px;

}

.telegram_posts_item p {
    color: #303233;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 15px;
    word-break: break-word;
}

.telegram_posts_item span {
    color: #811d1e;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    text-transform: lowercase;
    margin: 0;
}

.telegram_posts_item img {
    max-height: 400px;
    display: block;
}

.pagination-sm {
    text-align: center;
}

.pagination-sm a {
    color: #db98cd;
    font-family: 'PT Sans', sans-serif;
    font-size: 19px;
    font-weight: 700;
    padding-left: 10px;
}

.pagination-sm li.disabled a {
    color: #999;
    text-decoration: none;
}

.pagination-sm li.active a {
    color: #4c5760;
    text-decoration: none;
}

.pagination-sm {
    display: inline-block;
    margin-bottom: 1.75em;
}

.pagination-sm li {
    display: inline-block;
}

.hidden {
    display: none !important;
}

.apply_form form label.error {
    color: #b06293;
}

.search_posts {
    width: 500px;
    max-width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.search_posts label {
    color: #303233;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

.search_posts input {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #8f8f8f;
    margin: 10px;
}

.hashtag a {
    display: inline-flex;
    align-items: center;
    background-color: #ffdfed;
    height: 30px;
    padding: 0 20px;
    color: #4c5760;
    box-shadow: 0 10px 50px 0 rgba(255, 223, 237, 1);
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.hashtag a i {
    color: #4c5760;
    margin-left: 10px;
}

.posts_count {
    width: 100%;
    text-align: right;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

.no_posts {
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: #4c5760;
}

.search_posts input {
    padding-left: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #4c5760;
}

.search_posts input::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    color: #4c5760;
}

.clear-results {
    display: inline-flex;
    align-items: center;
    background-color: #ffdfed;
    height: 40px;
    padding: 0 10px;
    color: #4c5760;
    box-shadow: 0 10px 50px 0 rgba(255, 223, 237, 1);
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    border: 0;
}

.search-inputs {
    display: flex;
    align-items: center;
}

.apply_form form {
    width: 500px;
    max-width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.apply_form form label {
    margin: 10px 0;
}

.apply_form form input {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #8f8f8f;
}

.apply_form form textarea {
    border-radius: 10px;
    /*width: 100%;*/
    border: 1px solid #8f8f8f;
    height: 100px;

    /*margin: 10px;*/
}

.apply_form form input.apply_btn_send {
    display: inline-flex;
    align-items: center;
    background-color: #ffdfed;
    height: 40px;
    padding: 0 10px;
    color: #4c5760;
    box-shadow: 0 10px 50px 0 rgba(255, 223, 237, 1);
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    border: 0;
    justify-content: center;
    width: 150px;
    margin: 20px auto 0 auto;
}

.contact_notification {
    display: inline-flex;
    align-items: center;
    background-color: #ffdfed;
    height: 40px;
    padding: 0 10px;
    color: #4c5760;
    box-shadow: 0 10px 50px 0 rgba(255, 223, 237, 1);
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    border: 0;
}

.contact_notification_error {
    display: inline-flex;
    align-items: center;
    background-color: rgba(163, 33, 33, 0.73);
    height: 40px;
    padding: 0 10px;
    color: #4c5760;
    box-shadow: 0 10px 50px 0 rgba(163, 33, 33, 0.73);
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    border: 0;
}

.notification a {
    text-decoration: none;
    color: #4c5760;
}

.follow-me-link {
    display: inline-flex;
    align-items: center;
    background-color: #ffdfed;
    height: 40px;
    padding: 0 10px;
    color: #4c5760;
    box-shadow: 0 10px 50px 0 rgba(255, 223, 237, 1);
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    border: 0;
    justify-content: center;
    width: 150px;
    margin: 20px auto 0 auto;
    text-decoration: none;
}

.follow {
    display: contents;
}